@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-void-black: #050505;
  --color-pitch-black: #000000;
  --color-bio-green: #10b981; /* Modern Emerald Green instead of neon #39ff14 */

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

:root {
  background-color: var(--color-void-black);
  color: #e5e5e5;
}

body {
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono), monospace;
}
